<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/home.css" />
		<title>Converter</title>
	</head>

	<body>
		<div class="container">
			<header>
				<img src="../static/img/CurCorv.png" alt="CurCorv" />

				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Конвертер</a></li>
				</ul>
				<div class="currency">
					<p>RUB</p>
				</div>
			</header>

			<hr />

			<main class="main">
				<h2>Список всех валют</h2>
				<input
					class="search"
					placeholder="Название валюты или ее код"
					type="text"
				/>
				<div class="cards"></div>
			</main>
		</div>

		<script src="../static/js/cardGen.js" defer></script>
		<script src="../static/js/liveSearch.js" defer></script>
		<script
			src="https://kit.fontawesome.com/79a092f0cf.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
